<a href="https://colab.research.google.com/github/0Kyumy0/FirstCodes_DataScience/blob/Panda/renombrarEliminarDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd

In [29]:
filename = '/content/drive/My Drive/DataScience/BasesDeDatos/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(filename)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602,NaN,NaN,NaN

In [15]:
bike_df.shape

(52, 7)

In [23]:
bike_df.dtypes

Timeframe                             object
Week of                       datetime64[ns]
 2019 counts (31 counters)             int64
 2020 counts (31 counters)             int64
2021 Counts                            int64
Change 2019-2020                     float64
percent_change                       float64
dtype: object

## Eliminar las columnas innecesarias

In [31]:
bike_df = bike_df.drop(columns = ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602

## Renombrar la columna Unnamed: 6 a percent_change

In [32]:
bike_df = bike_df.rename(columns = {'Unnamed: 6': 'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602

## ¿Cuántos valores faltantes hay en el conjunto de datos? ¿En qué columnas están?

In [33]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

Respuesta: Hay 52 datos faltantes en la columna 2021 Counts

## Rellenar los valores faltantes en la columna 2021 Counts con 0

In [34]:
bike_df['2021 Counts'].fillna(0, inplace = True)

In [35]:
bike_df['2021 Counts'] = bike_df['2021 Counts'].astype(int)

In [36]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679,183546,0,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,0,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,0,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,0,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,0,0.249166,124.916602

## Opcional/bonus: 
### Hay un problema desafiante pero común en el nombre para la columna de recuentos de 2019. ¿Pueden encontrarlo? Si es así, cambien el nombre de la columna de recuentos de 2019 (31 contadores) a "counts_2019" (un nombre de columna más de Python).

In [37]:
key_name = bike_df.columns.values[2] #obtengo el nombre de la columna como tal
bike_df = bike_df.rename(columns = {key_name: 'counts_2019'})
bike_df.head()

,Timeframe,Week of,counts_2019,2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679,183546,0,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,0,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,0,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,0,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,0,0.249166,124.916602